.container {
  background: transparent;
  padding: 52px 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
}

.card {
  display: flex;
  flex: 0 1 calc(50% - 26px);
  margin: 13px;
  flex-direction: column;
  padding: 18px 22px;
  background: #1e213a;
  max-height: 177px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #e7e7eb;
  margin: 0 0 10px 0;
}

.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 31px 0 0 0;
}

.minTemp {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #a09fb1;
}

.maxTemp {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #e7e7eb;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: unset;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 790px;
  }

  .card {
    flex: unset;
    max-width: 120px;
    width: 100%;
    margin: 0 13px 0 0;
  }

  .card:last-child {
    margin: 0;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
